<!DOCTYPE html>
<html ng-app="ModuleName">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../Content/SuperHeroStyle.css" rel="stylesheet" />
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/Script001.js"></script>
    <script src="/Scripts/Script002.js"></script>
    <script src="/Scripts/Employee.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="Scripts/StringService.js"></script>
</head>

<body ng-controller="ControllerName12">
    <!-- Example 12--> <h1>anchorscroll</h1>
    <input id="top" ng-click="goto('bottom')" type="button" name="name" value="Go to the bottom" /><br />
    <!-- half Of Example 12-->

    <p style="margin:20px; width:700px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis et arcu vel aliquam.
        Fusce condimentum urna sed vestibulum imperdiet. Maecenas aliquet laoreet dolor,
        vitae malesuada magna. Ut viverra ipsum ante, eu tempus velit suscipit sollicitudin.
        Nullam sit amet nunc tempor, cursus dolor vitae, cursus dolor. In vel neque lacinia,
        tincidunt orci ac, accumsan eros. Phasellus sed orci malesuada, placerat urna non,
        rhoncus dui. Ut a volutpat dolor. Fusce in scelerisque metus. Maecenas dignissim
        nec orci in mattis. Fusce congue erat congue facilisis sollicitudin. Nam a iaculis est. Suspendisse imperdiet elit eu mollis gravida. Cras fermentum, nisi vitae posuere sagittis, dolor nisi egestas quam, ac fermentum sem lorem in est.

        Aenean sit amet vestibulum diam. Maecenas malesuada porta hendrerit. Donec id ante eu mi malesuada eleifend at non nisi. Curabitur quis iaculis dui, vel aliquet nisi. Mauris fermentum sagittis tellus vitae ultrices. Donec ut urna efficitur, dignissim massa quis, volutpat erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus tincidunt mauris nec mi lacinia dignissim. Duis rutrum in metus ac volutpat. Nullam ante magna, lobortis sit amet bibendum eget, interdum ac leo. Vestibulum tristique lectus nec ultrices commodo. Ut iaculis tincidunt turpis. Proin dignissim neque a nulla molestie, posuere aliquet eros viverra. In imperdiet erat eros, nec varius sem tempor non.

        Sed id molestie tortor. Etiam volutpat mi ex, in hendrerit ipsum lobortis interdum. Suspendisse pretium tincidunt semper. Curabitur venenatis odio risus, quis maximus ipsum maximus a. Donec suscipit a arcu eu aliquam. Praesent nec justo mollis, pharetra dolor commodo, vulputate lacus. Duis tincidunt ante et diam posuere, id molestie libero feugiat. Integer sagittis fringilla lectus, sed viverra risus porta at. Aliquam dignissim ligula semper lobortis finibus. Nullam eu felis quis felis rhoncus auctor vel a sem. Nullam tincidunt sodales pulvinar.

        Aliquam eros urna, viverra vel tristique id, egestas sed nulla. Sed id nisi felis. Sed ligula neque, condimentum vel pulvinar at, volutpat vel mi. Vivamus a tincidunt lorem, at dictum augue. In pulvinar, sem id viverra finibus, est risus pretium ligula, nec fermentum purus nunc sit amet elit. Proin tincidunt urna dui, et dictum lectus ornare maximus. Ut a vestibulum sem. Duis hendrerit vel libero sed condimentum. Ut libero nunc, auctor a diam ut, tristique lobortis odio. Integer a ligula at lacus bibendum placerat. Aliquam rhoncus tempor ornare. Curabitur eu libero velit. Integer tempor fermentum arcu in pretium. Integer at aliquam lacus, id semper sem. Fusce feugiat ipsum quis lorem viverra pulvinar. Integer ornare tincidunt orci, consectetur elementum neque lobortis vitae.

        Sed vel turpis a elit convallis fermentum. Etiam sodales dapibus ultrices. Curabitur a lacus justo. Proin sagittis enim eget nibh maximus, non tempor augue ultricies. Aenean molestie massa in enim interdum sollicitudin. Pellentesque consectetur justo eu feugiat vestibulum. Sed pellentesque, mauris quis ultrices accumsan, felis tortor vehicula libero, et vestibulum ante orci vitae nunc. Cras sagittis elit tempus egestas ultrices. Suspendisse dignissim viverra lacus, vitae aliquam sem fringilla a. Integer convallis magna ac justo hendrerit, in porttitor odio tincidunt. Cras scelerisque nibh sit amet enim dignissim scelerisque. Phasellus nec justo nibh. Praesent porttitor efficitur nulla vel pulvinar. Suspendisse finibus ex a risus tincidunt, sit amet lobortis enim congue.
    </p>

    <!-- Example 12-->
    <br /><input id="bottom" ng-click="goto('top')" type="button" name="name" value="Go to the Top" /><br />
    <!-- half Of Example 12-->
</body>

</html>